<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="com.diegolirio.sociallirio">

    <name>Social Lirio</name>

    <description>
		A rede social inovadora
    </description>

    <author href="http://diegolirio.com"  
        email="diegolirio.dl@gmail.com"> Diego Lirio
    </author>

	<icon src="img/logo.png" />
	<gap:splash src="img/splash.png" />
	
	<preference name="orientation" value="portrait" />
	<!--<preference name="fullscreen" value="true" />-->
	
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<access origin="*"/>
	
	<gap:platform name="android" />
	
</widget>